body {
    /* margin: 0 auto; */
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: rgb(231, 5, 46);
}

header {
    position: sticky;
    top: 20px;
    z-index: 1;
}

.nav-bar {
    height: 70px;
    width: 100%;
    background-color:rgb(30, 0, 114);
    display: block;
}

.logo {
    height: 70px;
    width: 70px;
}

.nav-list {
    float: right;
    list-style-type: none;
}

.list-items {
    float: left;
    margin-right: 25px;
    padding: 5px;
    background-color: #daa520;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 6px;
    color: black;
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
 a:hover {
    text-decoration: underline;
  }
  
 a:active {
    text-decoration: underline;
  }

img {
    background-size: cover;
}

.banner-text {
    height: 60px;
    width: 280px;
    position: absolute;
    left: 15%;
    right: 50%;
    bottom: 10%;
    padding-left: 17px;
    padding-top: 17px;
    font-family: 'Esteban', serif;
    background-color: rgb(255, 217, 0);
    border: 3px solid rgb(154, 110, 0);
}

.column {
    background-color: black;
    border: 3px solid rgb(30, 0, 255);
    height: 650px;
    width: 47%;
    float: left;
    margin-left: 25px;
}

.box {
    height: 280px;
    width: 525px;
    border: 3px solid rgb(255, 199, 17);
    margin-left: 50px;
    margin-top: 25px;
}

.tornado {
    height: 280px;
    width: 100%;
}

.mistress {
    height: 240px;
    width: 80%;
    padding-left: 60px;
    padding-top: 20px;
}

.column p {
    padding: 70px;
    line-height: 1.1;
    color: white;
}

.footer {
    height: 70px;
    width: 100%;
    /* position: relative;
    top: 1300px; */
    background-color:rgb(30, 0, 114);
    clear: both;
}

.footer-col {
    height: 70px;
    width: 32%;
    float: left;
    margin-top: 25px;
    margin-left: 5px;
    text-align: center;
}

.button {
    height: 20px;
    width: 60px;
}

.fa-twitter-square {
    color: #ffd902;
}